[user]
    name = Dmitriy Shilin
    email = sdadeveloper@gmail.com
[core]
    autocrlf = input
    safecrlf = true
    editor = vim
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[merge]
    tool = kdiff3
[color]
    ui = true
