! +--------------------------------------------------------------------------+
! +                             XTERM                                         +
! +--------------------------------------------------------------------------+
xterm*faceName: Terminus
xterm*faceSize: 11
xterm*loginshell: false
xterm*savelines: 4096*4

! double-click to select whole URLs
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

xterm*foreground: rgb:a8/a8/a8
xterm*background: rgb:00/00/00
xterm*color0: rgb:00/00/00
xterm*color1: rgb:a8/00/00
xterm*color2: rgb:00/a8/00
xterm*color3: rgb:a8/54/00
xterm*color4: rgb:00/00/a8
xterm*color5: rgb:a8/00/a8
xterm*color6: rgb:00/a8/a8
xterm*color7: rgb:a8/a8/a8
xterm*color8: rgb:54/54/54
xterm*color9: rgb:fc/54/54
xterm*color10: rgb:54/fc/54
xterm*color11: rgb:fc/fc/54
xterm*color12: rgb:54/54/fc
xterm*color13: rgb:fc/54/fc
xterm*color14: rgb:54/fc/fc
xterm*color15: rgb:fc/fc/fc

! right hand side scrollbar...
xterm*rightScrollBar: true
xterm*ScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

! +--------------------------------------------------------------------------+
! +                             RXVT                                         +
! +--------------------------------------------------------------------------+
Rxvt.font:           xft:Terminus:size=11
Rxvt*boldFont:
Rxvt*italicFont:
Rxvt*boldItalicFont:

Rxvt.geometry:         90x46
Rxvt.scrollstyle:      plain
Rxvt.saveLines:        4096*4
! Scrolling of full-screen apps ends up in the rxvt scroll buffer:
Rxvt.secondaryScroll:  true

Rxvt.loginShell:       false
Rxvt.utmpInhibit:      true

Rxvt.meta:             ignore
Rxvt.insecure:         true
Rxvt.mapAlert:         false
Rxvt.visualBell:       false
Rxvt.urgentOnBell:     false
Rxvt.pastableTabs:     false

Rxvt*foreground: rgb:a8/a8/a8
Rxvt*background: rgb:00/00/00
Rxvt*color0: rgb:00/00/00
Rxvt*color1: rgb:a8/00/00
Rxvt*color2: rgb:00/a8/00
Rxvt*color3: rgb:a8/54/00
Rxvt*color4: rgb:00/00/a8
Rxvt*color5: rgb:a8/00/a8
Rxvt*color6: rgb:00/a8/a8
Rxvt*color7: rgb:a8/a8/a8
Rxvt*color8: rgb:54/54/54
Rxvt*color9: rgb:fc/54/54
Rxvt*color10: rgb:54/fc/54
Rxvt*color11: rgb:fc/fc/54
Rxvt*color12: rgb:54/54/fc
Rxvt*color13: rgb:fc/54/fc
Rxvt*color14: rgb:54/fc/fc
Rxvt*color15: rgb:fc/fc/fc
