[Unit]
Description=Daily backup service

After=home-dshil-backup.mount
Requires=backup_day.timer

[Service]
Type=oneshot
Environment="TYPE=day"
Environment="SRC=%h"
Environment="DST=%h/backup"
ExecStart=%h/bin/dayweekbackup
