# For more info see: https://wiki.archlinux.org/index.php/backlight#Troubleshooting

[Unit]
Description=LED PWM frequency

[Service]
Type=oneshot
ExecStart=/usr/bin/intel_reg_write 0xc8254 %I

[Install]
WantedBy=graphical.target
